{% extends 'base.html.twig' %}

{% block title %}Geregistreerd!{% endblock %}

{% block body %}
    <div class="alert alert-success">
        <strong>Succesvol ingelogd!</strong>
    </div>;

    <div class="container-sm p-5 my-5 border">
        <p>
            Het is nu mogelijk om in de gesloten bibliotheek te kijken.
        </p>
    </div>
{% endblock %}