{% extends 'base.html.twig' %}

{% block title %}Geregistreerd!{% endblock %}

{% block body %}
    <div class="alert alert-success">
        <strong>Succesvol uitgelogd!</strong>
    </div>;

    <div class="container-sm p-5 my-5 border">
        <p>
            U bent succesvol uitgelogd.
        </p>
    </div>
{% endblock %}