{% extends 'base.html.twig' %}

{% block title %}Homepagina{% endblock %}

{% block body %}

<!-- Welkomst tekst op homepage -->
<div class="container-sm p-5 my-5 border">
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <h1>Webtechnologie II <small>- opdracht 4</small></h1>
                <p>
                    Deze webapplicatie is het resultaat van de vierde opdracht voor het vak webtechnologie II.<br>
                    Daarbij is een volledige aanmeld- en inlogcyclus opgeleverd. De beveiliging is gemaakt naar voorbeeld van:
                    <a href="https://symfony.com/doc/current/security.html">https://symfony.com/doc/current/security.html</a>
                    <br>
                    Daarbij zijn de volgende eisen gesteld:
                    <ul>
                        <li>Het project is gemaakt in symfony en maakt gebruik van composer.</li>
                        <li>Het project heeft een database.</li>
                        <li>Er zitten meerdere controllers in het project.</li>
                        <li>Er zijn controllers die gebruik maken van een twigtemplate.</li>
                        <li>Optioneel: Er is gebruik gemaakt van een Docker.</li>
                    </ul>

                    Om de uiteindelijke functionaliteit te demonstreren zijn er twee webpagina's met de naam bibliotheek gemaakt.<br>
                    <br>
                    Alle gebruikers mogen de <i>open bibliotheek</i> bezoeken.<br>
                    Echter voor toegang naar de <i>gesloten bibliotheek</i> moet een gebruiker ingelogd zijn, anders stuurt de Firewall de gebruiker automatisch door naar het inlogscherm.<br>
                    <br>

                    De bibliotheken, alsook de formulieren om aan te melden en in te loggen, zijn te benaderen vanuit de navigatiebalk.

                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
